<head>
    <title>Login</title>
</head>
<div class="container">
    <div class="content">
        <h2>Login with Username and Password</h2>
            <fieldset>
                <input type="text" ng-model="username" value="" placeholder="Username" />
                <input type="password" ng-model="password" placeholder="Password" />
            </fieldset>
            <input type="button" id="login" value="Login" ng-click="loginAction()"
                   class="btn btn-primary" />
    </div>
</div>
</body>
