<div class="section">
    <div class="alert alert-success" ng-show="showSuccessAlert">
        <strong>Done! </strong> {{successTextAlert}}
    </div>
    <div class="alert alert-danger" ng-show="showErrorAlert">
        <strong>Error! </strong> {{errorMessage}}
    </div>
    <h4>{{headingTitle}}</h4>
    <div class="col-md-12">
        <!--  <button ng-click="doSearch()" class="btn btn-default">Обновить таблицу</button>-->
        <table ng-table="tableParams" class="table table-bordered table-striped" show-filter="true">
            <tr ng-repeat="user in data">
                <td width="60" style="text-align: left" header="'ng-table/headers/checkbox.html'" >
                    <input type="checkbox" style="text-align: center" ng-click="usersetting(user)" ng-model="user.select" class="center-block">
                </td>
                <td data-title="'Логин'" filter="{ 'login': 'text'}" sortable="'login'">{{user.login}}</td>
                <td data-title="'Фильм'" filter="{ 'tickets': 'text'}" sortable="'tickets'">{{user.tickets}}</td>
                <td data-title="'Время'" filter="{ 'time': 'text'}" sortable="'time'">{{user.time  | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                <td data-title="'Утреннее оповещение'" filter="{ 'morningSend': 'select'}" sortable="'morningSend'" filter-data="booleanSend">{{user.morningSend?"Отправлено":"Не отправлено"}}</td>
                <td data-title="'Напоминалка'" filter="{ 'reminder': 'select'}" sortable="'reminder'" filter-data="booleanSend">{{user.reminder?"Отправлено":"Не отправлено"}}</td>
                <td data-title="'Разрешение'" filter="{ 'wantReceive': 'select'}" filter-data="booleanSend" sortable="'wantReceive'">{{user.wantReceive?"Разрешено":"Запрещено"}}</td>
            </tr>
        </table>
    </div>
</div>
